<!DOCTYPE html>
<html dir="rtl" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        var title = "";
        if (ViewData["Title"] != null) title = ViewData["Title"] + " - ";
        title += Res.WebsiteTitle;
        ViewBag.LoginUrl = Url.Action("Login", "Account");
    }
    <title>@title</title>
    <link rel="stylesheet" href="~/lib/bootstrap-5.2.0/css/bootstrap.rtl.min.css" />
    @*https://fontawesome.com/how-to-use/on-the-web/setup/upgrading-from-version-4*@
    @* For footable font add font face fontAwesome to css file*@
    <link rel="stylesheet" href="~/lib/fontAwesome-5.15/css/all.min.css" />
    @*<link rel="stylesheet" href="~/lib/jquery-datetimepicker/jquery.datetimepicker.min.css" />*@
    <link rel="stylesheet" href="~/lib/dataTables-1.12.1/datatables.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-none d-lg-block">
                <div class="shadow h-100 p-1">
                    <a href='@Url.Action("Index", "Home")' title="@Res.Home" class="d-flex gap-2 align-items-center text-decoration-none link-body-emphasis">
                        <img src="~/images/logo.jpg" width="70" alt="">
                        <span class="fs-4 fw-bold">Inno Design</span>
                    </a>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <div class="mt-3 mb-2 px-2">
                            <div class="border rounded-3 p-2 bg-light">
                                <span class="text-muted"> @Res.User: </span>
                                <span class="fw-bold text-dark">
                                   @(User.Identity.Name ?? "-")
                                </span>
                            </div>
                        </div>
                    }
                    <hr>
                    <ul class="nav nav-pills d-block">
                        @if (User.IsInRole(Inno.Types.UserRoleName.Admin))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-tachometer-alt"></i>
                                    <span>@Res.Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Product")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-box"></i>
                                    @Res.Products
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Category")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-layer-group"></i>
                                    @Res.ProductCategory
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Color")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-palette"></i>
                                    @Res.Colors
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Region")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-city"></i>
                                    @Res.Cities
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Storage")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-warehouse"></i>
                                    @Res.Storages
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Location")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-map-marker-alt"></i>
                                    @Res.Locations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "SKU")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-barcode"></i>
                                    @Res.Rolls
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Inventory", "Product")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-cubes"></i>
                                    @Res.ProductInventory
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Document")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-file-alt"></i>
                                    @Res.Documents
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Create", "PurchaseReceipt")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                    @Res.PurchaseReceipt
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Customer")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-user-friends"></i>
                                    <span>@Res.Customers</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Account")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-user"></i>
                                    <span>@Res.Users</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", nameof(CreditTransaction))' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-credit-card"></i>
                                    <span>@Res.Credit</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Order")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-clipboard-list"></i>
                                    <span>@Res.Orders</span>
                                </a>
                            </li>
                        }
                        else @if (User.IsInRole(Inno.Types.UserRoleName.Customer))
                        {
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Product")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-box"></i>
                                    @Res.Products
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Create", "Order")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span>@Res.BuyOrder</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Orders", "Profile")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-clipboard-list"></i>
                                    <span>@Res.Orders</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href='@Url.Action("Credits", "Profile")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                    <i class="fas fa-credit-card"></i>
                                    <span>@Res.Credits</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a href='@Url.Action("ChangePassword", "Profile")' class="nav-link d-flex gap-2 link-body-emphasis ">
                                <i class="fas fa-key"></i>
                                <span>@Res.ChangePassword</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="LogOut" method="post" class="m-0 p-0">
                                <button type="submit" class="nav-link d-flex gap-2 link-body-emphasis border-0 bg-transparent w-100 text-start" style="cursor: pointer;">
                                    <i class="fas fa-sign-in-alt"></i>
                                    <span>@Res.Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10">

                @RenderBody()

                <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="margin-top: 30px; z-index: 9999;">

                    <!-- Toast خطا -->
                    <div id="error-toast" class="toast custom-toast toast-error" role="alert" aria-live="assertive">
                        <div class="d-flex">
                            <div class="toast-body">
                                <i class="fas fa-exclamation-circle fa-lg" style="color:red;"></i>
                                <span>خطایی رخ داد!</span>
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"></button>
                        </div>
                    </div>

                    <!-- Toast موفقیت -->
                    <div id="success-toast" class="toast custom-toast toast-success" role="alert" aria-live="polite">
                        <div class="d-flex">
                            <div class="toast-body">
                                <i class="fas fa-check-circle fa-lg" style="color:green;"></i>
                                <span>عملیات با موفقیت انجام شد</span>
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*From Bootstrap 5, jQuery is removed. However, there might be people still using jQuery unobtrusive validations in ASP.NET Core*@
    <script src="~/lib/jquery-3.3.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation-1.17/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive-3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap-5.2.0/js/bootstrap.bundle.min.js"></script>
    @* Use in datatables *@
    <script src="~/lib/moment.js-2.29.1/moment.min.js"></script>
    @* datatable use Bootstrap standard, for avoid error in mdb correct line 18121 *@
    <script src="~/lib/dataTables-1.12.1/datatables.min.js"></script>
    <script src="~/js/site-plugins.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script type="text/javascript">
        //change jquery validation class with bootstrap 5 class
        var settings = {
            validClass: "is-valid",
            errorClass: "is-invalid"
        };
        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;

        //for dropdown not working
        $(document).ready(function () {
            $(".dropdown-toggle").dropdown();

            initDateTimePicker();
            initDropDown();

            //show active nav link
            //$('a[href="' + this.location.pathname + '"]').parent().addClass('active');

            $(".shadow").hover(
                function () {
                    $(this).addClass('shadow-lg').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-lg');
                }
            );
            //انتخاب گزینه در منو
            let currentUrl = window.location.pathname.toLowerCase();
            let links = document.querySelectorAll(".nav-link");
            links.forEach(function(link) {
                if (link.getAttribute("href") === "#") return;

                var linkUrl = new URL(link, window.location.origin).pathname.toLowerCase();
                if (currentUrl === linkUrl || currentUrl == (linkUrl + "/")) {
                    link.classList.add("active");
                    link.classList.remove("link-body-emphasis");
                }
            });
        });

        //$(document).on('show.bs.modal', '.modal', function () {
        //    const zIndex = 1040 + 10 * $('.modal:visible').length;
        //    $(this).css('z-index', zIndex);
        //    setTimeout(() => $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack'));
        //});

        // --- پیکربندی دکمه‌ها ---
        var editButtonConfig = {
            actionName: 'editItem',
            iconClass: 'far fa-edit',
            title: '@Res.Edit',
            renderer: generateButtonHtml // تابعی که HTML را تولید می‌کند
            //function(){ return `<a href='javascript:editItem(${id})' title='@Res.Edit' class='px-2'><i class='far fa-edit'></i></a>`};
        };
        var deleteButtonConfig = {
            actionName: 'deleteItem',
            iconClass: 'fa fa-trash-alt',
            title: '@Res.Delete',
            extraClass: 'link-danger',
            renderer: generateButtonHtml
        };

        function createItem(data, dialogId, url = '@ViewBag.CreateUrl', dataTableName = '#myTable') {
            var btn = $('.btnCreate');
            var spin = btn.find('span.spinner-border:first');
            $.bootstrapModalAjaxForm({
                postUrl: url,//ذخیره اطلاعات
                renderModalPartialViewUrl: url,//خواندن ویو
                renderModalPartialViewData: data,
                loginUrl: '@ViewBag.LoginUrl',
                dialogContainerId: dialogId,
                beforeSendGetPartialRequest: function () {
                    $('.btnCreate').addClass('disabled');
                    if (spin) spin.show();
                },
                completeHandler: function () {
                    if (dataTableName)
                        $(dataTableName).DataTable().draw();
                },
                afterLoadModalHandler: function () {
                    initDateTimePicker();
                    initDropDown();
                    $('.btnCreate').removeClass('disabled');
                    if (spin) spin.hide();
                },
                errorHandler: function () {
                    alert();
                }
            });
        }

        function editItem(id, dialogId, url = '@ViewBag.EditUrl', dataTableName = '#myTable') {
            var getUrl = url + '/' + id;
            var processing = $('.dataTables_processing', $(dataTableName).closest('.dataTables_wrapper'));
            $.bootstrapModalAjaxForm({
                postUrl: url,
                renderModalPartialViewUrl: getUrl,
                renderModalPartialViewData: { id },//JSON.stringify({ id: 1 }),
                loginUrl: '@ViewBag.LoginUrl',
                dialogContainerId: dialogId,
                beforeSendGetPartialRequest: function () {
                    if (processing) processing.show();
                },
                completeHandler: function () {
                    if (dataTableName)
                        $(dataTableName).DataTable().draw();
                },
                afterLoadModalHandler: function () {
                    initDateTimePicker();
                    initDropDown();
                    if (processing) processing.hide();
                },
                errorHandler: function () {
                    if (processing) processing.hide();
                    showError();
                }
            });
        }

        function deleteItem(id, deleteUrl = '@ViewBag.DeleteUrl', afterDel, dataTableName = '#myTable') {
            $.bootstrapModalConfirm({
                caption: '@Res.Confirm',
                body: '@Res.DeleteConfirmMsg',
                confirmText: '@Res.Yes',
                closeText: '@Res.No',
                onConfirm: function () {
                    var processing = $('.dataTables_processing', $(dataTableName).closest('.dataTables_wrapper'));
                    var token = $('input:hidden[name="__RequestVerificationToken"]').val();
                    $.ajax({
                        url: deleteUrl,
                        type: "Post",
                        dataType: "JSON",
                        data: { id: id },
                        headers: { RequestVerificationToken: token },
                        beforeSend: function () {
                            if (processing) processing.show();
                        },
                        success: function (e) {
                            if (e.success) {
                                var dt = $(dataTableName).DataTable();
                                if (dt.settings()[0].oFeatures.bServerSide) {
                                    // serverSide: true
                                    dt.draw(false);
                                }
                                else {
                                    //در حالت serverSide: false — حذف دستی ردیف از جدول
                                    var rowToRemove = null;

                                    // حلقه برای پیدا کردن ردیف با شناسه مورد نظر
                                    dt.rows().every(function() {
                                        var rowData = this.data();
                                        if (rowData.Id == id) {
                                             rowToRemove = this;
                                        }
                                    });

                                    if (rowToRemove) {
                                        dt.row(rowToRemove).remove(); // حذف ردیف
                                        dt.draw(false); // به‌روزرسانی جدول بدون بارگذاری دوباره
                                    } else {
                                        console.warn("ردیف با شناسه", id, "پیدا نشد.");
                                    }
                                }

                                if (afterDel) afterDel(e);
                            }
                            else if (e.error) {
                                showError(e.error);
                            }
                        },
                        error: function (e) {
                            showError(e.error);
                        },
                        complete: function () {
                            if (processing) processing.hide();
                        }
                    });
                }
            });
        }

        function getContact(contactTypeSelectId, contactIdInput, contactIdValueOnPageLoad) {
            contactTypeSelectId = '#' + contactTypeSelectId;
            contactIdInput = '#' + contactIdInput;

            var contactType = $(contactTypeSelectId).val();
            if (contactType) {
                $.ajax({
                    url: '@Url.Action("GetContact", "Contact")',
                    type: 'GET',
                    dataType: 'JSON',
                    data: { contactTypeId: contactType },
                    beforeSend: function () {
                        $(contactIdInput).html("");
                    },
                    success: function (contacts) {
                        $(contactIdInput).append('<option value="">@Res.DoSelect</option>');
                        $.each(contacts, function (i, t) {
                            $(contactIdInput).append(
                                $('<option></option>').val(t.ContactId).html(t.ContactName));
                        });
                        if (contactIdValueOnPageLoad) {
                            $(contactIdInput).val(contactIdValueOnPageLoad);
                        }
                    }
                });
            }
            else {
                $(contactIdInput).html('');
            }
        }

        function uploadFiles(multiple = true) {
            let count = $('#uploadZone .col').length;
            for (var i = 0; i < $("#file")[0].files.length; i++) {
                //create show image box and progress bar
                let boxId = "box" + (count + i + 1);
                let progId = "fileProgress" + (count + i + 1);
                let imgId = "uploadedImage" + (count + i + 1);
                let linkId = "imageLink" + (count + i + 1);
                let delLinkId = "delLink" + (count + i + 1);
                let boxHtml = `
                    <div class="col-lg-3 col mt-2" id="` + boxId + `" >
                        <input type="hidden" name="attachId"/>
                        <input type="hidden" name="fileUrl"/>
                        <progress id="` + progId + `" style="display:none; width:100px"></progress>
                        <div class="position-relative">
                            <div class="position-absolute top-0 start-0 translate-middle mt-2 ms-2">
                                <a href="#" id="` + delLinkId + `" class="link-danger" title="@Res.Delete"><i class="fa fa-times"></i></a>
                            </div>
                            <a href="#" id="` + linkId + `" target="_blank">
                            <img id ="` + imgId + `"  style="display:none; width:100px; height:100px;"/>
                            </a>
                    </div>`;
                $("#uploadZone").append(boxHtml);

                var formData = new FormData();
                formData.append("file", $("#file")[0].files[i]);

                $.ajax({
                    url: '@Url.Action("Upload", "Attachment")',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#" + progId).hide();
                        $("#" + imgId).attr('src', result.FileUrl);
                        $("#" + linkId).attr('href', result.FileUrl);
                        boxId = "#" + boxId;
                        let afterDelFunc = "function() { $('" + boxId + "').remove();";
                        if (!multiple) afterDelFunc += "$('#btnUploadFile').parent().show();"
                        afterDelFunc += "}";
                        $("#" + delLinkId).attr('href', "javascript:deleteItem('" + result.AttachmentId + "', '/Attachment/Delete'," + afterDelFunc + ", null)");
                        $("#" + imgId).show();

                        $(boxId + '>input[name = "attachId"]').val(result.AttachmentId);
                        $(boxId + '>input[name = "fileUrl"]').val(result.FileUrl);
                    },
                    xhr: function () {
                        var fileXhr = $.ajaxSettings.xhr();
                        if (fileXhr.upload) {
                            $("#" + progId).show();
                            if (!multiple) $("#btnUploadFile").parent().hide();
                            fileXhr.upload.addEventListener("#" + progId, function (e) {
                                if (e.lengthComputable) {
                                    $("#" + progId).attr({
                                        value: e.loaded,
                                        max: e.total
                                    });
                                }
                            }, false);
                        }
                        return fileXhr;
                    }
                });
            }
        }

        function showToast(id, message) {
            const toastEl = document.getElementById(id);
            if (!toastEl) return;

            const span = toastEl.querySelector('.toast-body span');
            if (span && message) {
                span.innerText = message;
            }

            const toast = bootstrap.Toast.getOrCreateInstance(toastEl, {
                delay: 3000,
                autohide: true
            });

            toast.show();
        }

        function showError(message) {
            showToast('error-toast', message);
        }

        function showSuccess(message) {
            showToast('success-toast', message);
        }

        function showErrorContainer(message) {
            $('#errordiv').html(message).show();
        }

        function hideErrorContainer(message) {
            $('#errordiv').hide();
        }

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
