@model dynamic
@{
    var modalSize = ViewBag.ModalSize ?? "";
}

<div id='dialogDiv' class='modal fade'>
    <form>
        @Html.AntiForgeryToken()
        <div id="dialogContent" class="modal-dialog @modalSize">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@ViewBag.Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="errordiv" class="alert alert-danger py-1 fw-semibold fade show" role="alert" style="display:none"></div>
                    @RenderSection("Body", required: true)
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">@Res.Save</button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">@Res.Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
@RenderSection("Scripts", required: false)