@model ChangePasswordView
@{
    var modeText = Res.ChangePassword;
    var action = "ChangePassword";
    ViewData["Title"] = Res.ChangePassword;
}

<form asp-action="@action">
    <nav class="navbar navbar-expand sticky-top bg-light">
        <h3 class="navbar-Border" href="#">@modeText</h3>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="submit" class="nav-link btn btn-link" asp-action="@action">
                        <span class="h6"><i class="fa fa-save"></i>@Res.Save</span>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index"><i class="fa fa-arrow-circle-right"></i>@Res.Return</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewData["PasswordChangedMsg"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @ViewData["PasswordChangedMsg"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" readonly class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
