@model IEnumerable<UserListView>

@{
    ViewData["Title"] = Res.List + " " + Res.Users;

    ViewBag.CreateUrl = Url.Action("Create", "Account");
    ViewBag.EditUrl = Url.Action("Edit", "Account");
    ViewBag.DeleteUrl = Url.Action("Delete", "Account");
}
<form asp-action="Index" method="get">
    <div class="row mb-3 border-bottom">
        <div class="col-auto">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="col-auto">
            <a href="javascript:createItem()" class="btn btn-primary btn-sm mt-1 btnCreate">
                <i class="fa fa-plus me-1"></i>@Res.New
                <span class="spinner-border spinner-border-sm" style="display:none"></span>
            </a>
        </div>
    </div>
</form>
<form>
    @Html.AntiForgeryToken()
    <table id="myTable" class="table table-striped table-hover nowrap" style="width:100%">
        <thead class="bg-warning"></thead>
    </table>
</form>

@section Scripts {
    <script type="text/javascript">
        function changePass(id){
            return editItem(id = id, dialogId = undefined, url = '/Account/ChangePassword');
        }
        const passButtonConfig = {
            actionName: 'changePass',
            iconClass: 'fas fa-key',
            title: '@Res.Password'
        };

        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                info: false,
                ajax: {
                    url: '@Url.Action("GetData", "Account")',
                    type: 'POST',
                    datatype: "json",
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 403 || jqXHR.status == 401) {
                            window.location = '@Url.Action("Login", "Account")';
                        }
                    }
                },
                columns: [
                    { data: "@nameof(UserListView.UserName)", name: "@nameof(UserListView.UserName)", title: "@Html.DisplayNameFor(model => model.UserName)" },
                    { data: "@nameof(UserListView.FullName)", name: "@nameof(UserListView.FullName)", title: "@Html.DisplayNameFor(model => model.FullName)" },
                    { data: null, name: "@nameof(UserListView.IsActive)", title: "@Html.DisplayNameFor(model => model.IsActive)",
                        render: function (data, type, row) {
                            return renderCheckBox(data.@nameof(UserListView.IsActive));
                        }
                    },
                    renderActionButton('@nameof(UserListView.UserName)', [editButtonConfig, passButtonConfig, deleteButtonConfig])
                ]
            });
        });
    </script>
}