@model IEnumerable<ProductListView>

@{
    ViewData["Title"] = Res.List + " " + Res.Product;

    ViewBag.CreateUrl = Url.Action("Create", "Product");
    ViewBag.EditUrl = Url.Action("Edit", "Product");
    ViewBag.DeleteUrl = Url.Action("Delete", "Product");

    var canEdit = User.IsInRole(Inno.Types.UserRoleName.Admin) || User.IsInRole(Inno.Types.UserRoleName.Storekeeper);
}
<form asp-action="Index" method="get">
    <div class="row mb-3 border-bottom">
        <div class="col-auto">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="col-auto">
            <a href="javascript:createItem()" class="btn btn-primary btn-sm mt-1 btnCreate">
                <i class="fa fa-plus me-1"></i>@Res.New
                <span class="spinner-border spinner-border-sm" style="display:none"></span>
            </a>
        </div>
    </div>
</form>
<form>
    @Html.AntiForgeryToken()
    <table id="myTable" class="table border-0 dt-card">
        <thead></thead>
    </table>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                info: false,
                ajax: {
                    url: '@Url.Action("GetData", "Product")',
                    type: 'POST'
                },
                columns: [
                    {
                        data: null,
                        orderable: false,
                        searchable: false,
                        render: function (data, type, row) {
                            
                            var actionHtml = '';
                            if (@canEdit.ToString().ToLower()) {
                                actionHtml = renderActionButton('@nameof(ProductListView.Id)', [editButtonConfig, deleteButtonConfig])
                                .render(data, type, row);
                            }
                            return `<div class="product-card">
                                    <div class="card-img">${row.ImageUrl? `<img src="${row.ImageUrl}">`: ''}</div>
                                    <div class="card-body">
                                        <h5>${row.Name} - ${row.ColorName ?? ''}</h5>
                                        <div>${row.Id}</div>
                                        <div>
                                            <small>@Html.DisplayNameFor(x => x.Price)</small>
                                            <div>${formatUSD(row.Price)}</div>
                                        </div>
                                    </div>
                                     ${actionHtml}
                                </div>`;
                        }
                    }
                ],
                createdRow: function (row) {
                    $('td', row).attr('colspan', 999).addClass('border-0');
                }
            });
        });

    </script>
}