@model IEnumerable<ProductListView>

@{
    ViewData["Title"] = Res.List + " " + Res.Product;

    ViewBag.CreateUrl = Url.Action("Create", "Product");
    ViewBag.EditUrl = Url.Action("Edit", "Product");
    ViewBag.DeleteUrl = Url.Action("Delete", "Product");

    var canEdit = User.IsInRole(Inno.Types.UserRoleName.Admin) || User.IsInRole(Inno.Types.UserRoleName.Storekeeper);
}
<form asp-action="Index" method="get">
    <div class="row mb-3 border-bottom">
        <div class="col-auto">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="col-auto">
            <a href="javascript:createItem()" class="btn btn-primary btn-sm mt-1 btnCreate">
                <i class="fa fa-plus me-1"></i>@Res.New
                <span class="spinner-border spinner-border-sm" style="display:none"></span>
            </a>
        </div>
    </div>
</form>
<div class="row mb-3">
    <div class="col-md-2 col-6">
        <div class="input-group input-group-sm">
            <span class="input-group-text ">@Html.DisplayNameFor(model => model.Id)</span>
            <input type="text" id="@nameof(ProductListView.Id)" class="form-control form-control-sm h-auto" />
        </div>
    </div>
    <div class="col-md-2 col-5">
        <button type="submit" class="btn btn-primary btn-sm" id="btnSearch">
            <i class="fa fa-search m-1"></i>@Res.Search
        </button>
    </div>
</div>
<form>
    @Html.AntiForgeryToken()
    <table id="myTable" class="table border-0 dt-card">
        <thead></thead>
    </table>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                info: false,
                ajax: {
                    url: '@Url.Action("GetData", "Product")',
                    type: 'POST'
                },
                columns: [
                    { data: "Id", name: "Id", visible: false },
                    { data: "@nameof(ProductListView.CreatedAt)", name: "@nameof(ProductListView.CreatedAt)", visible: false },
                    {
                        data: null,
                        orderable: false,
                        searchable: false,
                        render: function (data, type, row) {
                            
                            var actionHtml = '';
                            if (@canEdit.ToString().ToLower()) {
                                actionHtml = renderActionButton('@nameof(ProductListView.Id)', [editButtonConfig, deleteButtonConfig])
                                .render(data, type, row);
                            }
                            return `<div class="product-card">
                                    ${row.IsNew ? '<div class="badge-new">@Res.New</div>' : ''}
                                    <div class="card-img">${row.ImageUrl? `<img src="${row.ImageUrl}">`: ''}</div>
                                    <div class="card-body">
                                        <h5>${row.Name} - ${row.ColorName ?? ''}</h5>
                                        <div>${row.Id}</div>
                                        <div>
                                            <small>@Html.DisplayNameFor(x => x.Price)</small>
                                            <div>${formatUSD(row.Price)}</div>
                                        </div>
                                    </div>
                                        ${actionHtml}
                                </div>`;
                        }
                    }
                ],
                order: [[1, 'desc']],
                createdRow: function (row) {
                    $('td', row).attr('colspan', 999).addClass('border-0');
                }
            });
            $('#btnSearch').on('click', function () {
                let s = '';
                let val = $("#@nameof(ProductListView.Id)").val();
                if (val) s += '@nameof(ProductListView.Id)=' + val + ',';

                table.search(s).draw();
            });
        });

    </script>
}